
blueMSX-DPI/Make/msvc2012/.vs/blueMSX/v15/Browse.VC.db
blueMSX-DPI/Make/msvc2012/.vs/blueMSX/v15/Browse.VC.db
blueMSX-DPI/Make/msvc2012/.vs/slnx.sqlite
blueMSX-DPI/Make/msvc2012/.vs/ProjectSettings.json
blueMSX-DPI/Make/msvc2012/blueMSX.sdf
blueMSX-DPI/Src/Resources/blueMSX.aps
